header{
 color:#fff;
 height:120px;
 background-color:#000;
 font-family: Reimin U JIS2004 AP;
 }

header-logo{
 font-size:120px;
 float:left;
 font-size:20px;
 padding:20px 40px;
 }
 
 header-list li{
  float:left;
  padding:33px 20px;
 }
 
 main{
  padding:100px 80px;
 }
 
 .copy-container h1{
  font-size:200px;
 }
 
 .copy-container h2{
  font-size:60px;
 }
 
 .copy-container span{
  font-size:120px;
  color:#ff0000;
 }
 
 contents{
 height:500px;
 background-color:#000;
 }
 
 contents-item{
 float:left;
 font-size:80px;
 }

